 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: #262626;
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
/*NAVBAR*/

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo {
    width: 110px;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 10px;
}

.main-nav ul li a{
    padding-bottom: 2px;/*border line pushed down*/
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav  ul.main-menu {
    flex: 1; /*pushed the navbar next to the logo*/
    margin-left: 20px; /*pulled the navbar 20px from the logo*/
}

.btn { /*utility class*/
    cursor: pointer;
    display: inline-block;/*so that it can stick it it's own space*/
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
}

.btn:hover {
    opacity: 0.9;
}

.showcase {
    width: 100%;
    height: 400px;
    background: url('https://i.ibb.co/zGSDGCL/slide1.png') no-repeat center center/cover;
    display: flex;/*make the items inside horizontal*/
    flex-direction: column;/*made the items inside vertical*/
    align-items: center;/*all items to the center*/
    text-align: center;
    justify-content: flex-end;/*MADE THE WHOLE TEXT GO DOWN*/
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.showcase h2, .showcase p {
    margin-bottom: 10px;
}

.showcase .btn {
    margin-top: 20px;
}

/*HOME-CARDS*/

.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);/*THE REASON IT'S GOING OFF PAGE IS BECAUSE OF THE IMAGES SO THE SOLUTION IS TO RESTRAIN IT.*/
    grid-gap: 20px;
    margin-bottom: 20px;
}

.home-cards img { /*SET THE IAMGE 100 PERCENT TO THE CONTAINER*/
    width: 100%;
    margin-bottom: 20px;
}

.home-cards h3 {
    margin-bottom: 5px;
}

.home-cards a {
    display: inline-block;
    padding: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;

}

.home-cards a:hover i{
    margin-left: 10px;
}
